/* * {
    margin: 0;
} */

/* h1 {
    color: crimson;
}

p {
    color: fuchsia;
}

a {
    color: teal;
} */

/* #desc,
#second-desc {
    color: firebrick;
} */

/* .desc {
    color: aqua;
} */

/* [href] {
    color: darkturquoise;
} */

/* .list .list-link {
    color: chartreuse;
} */

/* .list-item > .list-link {
    color: chartreuse;
} */

/* .title {
    color: tomato;
}

.title {
    color: teal;
} */

.desc {
    color: chartreuse;
}

body {
    font-size: 24px;
    color: blue;
}