/* * {
    margin: 0;
} */

/* h1 {
    color: crimson;
}

p {
    color: fuchsia;
}

a {
    color: teal;
} */

/* #desc,
#second-desc {
    color: firebrick;
} */

/* .desc {
    color: aqua;
} */

/* [href] {
    color: darkturquoise;
} */

.list-item > .list-link {
    color: chartreuse;
}